body {
    /*font-family: "Open Sans", "Helvetica Neue", sans-serif;*/
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    padding: 0;
    margin: 0;
}

input {
    width: 100%;
    margin: 10px;
}

.login-form{
    width: 500px;
    margin: auto;
}

.form-input-field label{
    display: block;
}

.form-buttons{
    display: flex;
    flex-flow: row-reverse;
    padding-top: 10px;
}

.form-buttons button{
    margin-left: 5px !important;
}

.main-nav {
    background-color: #ddd;
    display: flex;
    flex-direction: row-reverse;
}

.main-nav-item {
    padding: 10px;
}

.group-list{
    display: flex;
    flex-wrap: wrap;
}

.group{
    flex: 1;
    margin: 5px;
    border-radius: 2px;
    box-shadow: 0 0 2px #999;
    min-width: 300px;
}

.group-header {
    display: flex;
    justify-content:space-between;
    font-weight: bold;
    color: white;
    background-color: #63aeff;
    padding: 10px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.group-content {
    position: relative;
    padding: 5px;
    min-height: 50px;
}

.group-footer {
    display: flex;
    padding-left: 5px;
    padding-bottom: 5px;
}

.list-item{
    border-bottom: 1px solid #eee;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.list-item:last-of-type {
    border-bottom: none;
}

.list-item:hover{
    background-color: rgba(99, 174, 255, 0.20)
}

.list-item-content {
    width: 100%;
}

.list-item.controls {
    color: red;
}


.secondary-text {
    font-size: 0.8em;
    color: #888;
}

.p-dialog-titlebar {
    background-color: #fff !important;
    border: none !important;
}

.p-dialog-content {
    border: none !important;
}

.button-fab{
    width: 40px;
    height: 40px;
    border-radius: 20px !important;
    position: fixed !important;
    right: 5px !important;
    bottom: 5px !important;
    box-shadow: 3px 3px 15px #444 !important;
}

.button-link {
    color: #007ad9;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.button-link i{
    margin-right: 10px;
}

.pointable {
    cursor: pointer;
}

.p-calendar {
    width: 100%;
}

.ms-Dialog-main{
    width: 500px;
    padding: 10px;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        
    }

    .login-form{
        width: 96%;
    }
}
